# ====== KLUCZE API BROKERA (ALPACA) ======
# Tryb Paper Trading (Wirtualne pieniądze)
ALPACA_API_KEY=twoj_klucz_api_tutaj
ALPACA_SECRET_KEY=twoj_secret_key_tutaj
ALPACA_PAPER=True

# ====== KLUCZE API DANYCH (QUIVER / SEC) ======
QUIVER_API_KEY=opcjonalny_klucz_quiver

# ====== POWIADOMIENIA (TELEGRAM) ======
TELEGRAM_BOT_TOKEN=twoj_bot_token_od_botfather
TELEGRAM_CHAT_ID=twoje_chat_id
